*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.containerApp{
  display: grid;
  max-width: 1fr;
  min-height: 100vh;
  grid-template-rows: auto;
}
header{
    border-bottom: 1px solid black;
        max-width: 1440px;
          margin: 30px auto;
          text-align: center;
  }
  
  main{
    display: flex;
    flex-flow: column wrap;
    width: 800px;
    max-width: 1440px;
    margin: 30px auto;
  }
  
  aside{
    position: fixed;
    right: 0;
    bottom: 80px;
    width: 180px;
    border: 1px solid black;
  }
  
  footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    color: white;
    width: 100%;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }